/*Standard Styles*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: black;
	text-rendering: optimizeLegibility;
	transition: transform .5s ease-in-out;
}


/*Navbar Section*/

nav{
	position: fixed;
    height: 100vh;
    width: 29%;
    top: 0;
    right: 0;
    background-color:rgb(17, 17, 17);
    transform: translateX(100%);
    z-index: 3;
}

nav ul{
	list-style-type: none;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
nav ul li{

}

nav ul li a,
nav ul li a:active,
nav ul li a:visited{
	font-size: 2.7em;
	color: white;
	text-decoration: none;
}

.fixed-top-nav{
	position: fixed;
	width: 100%;
}
.ion-planet{
	font-size: 3.5em;
    transform: translate(30%,7%);
    float: left;
    color: white;
}
.menu-icon{
	display: inline;
    float: right;
    color: white;
    font-size: 3em;
    transform: translate(-25px,7px);
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.menu-icon:after{
	content: 'MENU';
    position: absolute;
    top: 45px;
    left: 0px;
    font-weight: bold;
    font-size: 0.23em;
}
.menu-icon-close{
	position: absolute;
    top: 17%;
    right: 10%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 2.5em;
}



/*Header Section*/

header {
	background: linear-gradient(rgba(200, 59, 2, 0.79),#D23C01 80%),url('airport.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
	width: 48%;
    font-size: 3.3em;
    text-align: center;
    line-height: 1.06;
    color: white;
}

/*Standard Section styles*/

section{ 
	padding: 5% 5%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
section > h1{
	font-size: 2.2em;
    font-weight: 400;
}

section > p{
	width: 70%;
    font-size: 1.2em;
    margin-top: 2%;
    line-height: 1.4;
    color: #656578;
}

/*Section1*/

.stories{
	width: 100%;
	margin-top: 7%;
	display: flex;
}
.col-1-of-3{
    width: 33.33%;
    padding: 5% 2%;
    height: 285px;
    overflow: hidden;
}
.overflow-col{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	transition: transform .3s ease-in-out;
}
.overflow-col:hover{
	transform: translateY(-60%);
}

.col-1-of-3:nth-of-type(-n+2){
	border-right: 1px solid lightgrey;
}
.col-1-of-3 img{
	width: 150px;
}
.col-1-of-3 h3{
	margin-top: 14%
}
.col-1-of-3 p{
	margin-top: 11%;
    font-size: 1em;
    color: #656578;
}
.col-1-of-3 a,
.col-1-of-3 a:visited,
.col-1-of-3 a:active{
	color:inherit;
	text-decoration: underline;
}
.col-1-of-3 a:hover{
	color: rgb(255, 78, 0);
}


/*Section 2*/

#section-2{
	background-color: rgb(245, 245, 245);
}

.col-1-of-5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em 0 1em;
}
.img-container{
    padding: 0.3em 0.3em 0.6em;
    border-bottom: 1px solid lightgrey;
}
.col-1-of-5 img{
	-webkit-filter: grayscale(1);
    max-width: 55%;
    flex:1;
}


/*Section 3 styles*/
#section-3{
	padding: 5% 0 0;
}
.quote-gallery{
    width: 100%;
    padding: 7em 0;
    background: linear-gradient(rgba(250, 81, 10, 0.91) 20%,rgba(248, 81, 14, 0.91)),url('group.jpg') 80%;
    background-size: cover;
    background-position-y: initial;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
.quote-gallery p{
    margin-top: 1em;
    font-size: 1.5em;
    color: white;
}
.quote-gallery p:last-of-type{
    font-size: 1.3em;
    margin-top: 1.5em;
}
.ion-quote{
    display: inline-block;
    vertical-align: super;
    border-radius: 50%;
    background: white;
    color: tomato;
    padding: 0px 5px;
}

/* Slide Navbar */
.move-body{
    transform:translateX(-29%);
    overflow-y: hidden;
}

@media(max-width: 768px){
    header > h1{ width: 90%; font-size: 2.5em; }
    .move-body{
        transform: none;
    }
	nav{width: 100%;}
	.move-nav{
		transform: translateX(0%);
	}
    .stories{
        flex-direction: column;
    }
    .col-1-of-3 {
        width: 100%;
        padding: 1em 0;
        height: initial; 
        overflow: auto; 
    }
    .col-1-of-3:nth-of-type(-n+2){
        border-right: 0;
    }
    .overflow-col:hover{
        transform: translateY(0);
    }
    section > p {
        width: 80%;
        font-size: 1.2em;
        margin-top: 2%;
        color: #656578;
        padding: 1em 0 1.5em;
    }
    .col-1-of-5{
        justify-content: center;
        align-items: center;
    }
    .col-1-of-5 img{
        max-width: 60%;
    }
    .img-container {
        width: 100px;
    }
}